:root {
  --green: #50fa7b;
  --gray-dark: #141316;
  --gray: #282a36;
  --white: white;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

html, body {
  margin:0;
  height: 100%;
  background-color: #121212;
}

main {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#fff;
  align-self: center;
}

.login div{
  margin-bottom: 20px;
  color: #fff;
}

.large_input {
  margin-top: 10px;
  width: 450px;
  height: 35px;
  border-radius: 0.5rem;
  border-width: 0.5px;
  border-color: #fff;
  background-color: #121212;
  color: #fff;
} 

.medium_input{
  margin-top: 10px;
  width: 320px;
  height: 35px;
  border-radius: 0.5rem;
  border-width: 0.5px;
  border-color: #fff;
  background-color: #121212;
  color: #fff;
}

.small_input{
  margin-top: 10px;
  width: 205px;
  height: 35px;
  border-radius: 0.5rem;
  border-width: 0.5px;
  border-color: #fff;
  background-color: #121212;
  color: #fff;
  margin-bottom: 0;
}

.vsmall_input{
  margin-top: 10px;
  width: 90px;
  height: 35px;
  border-radius: 0.5rem;
  border-width: 0.5px;
  border-color: #fff;
  background-color: #121212;
  color: #fff;
}

.a {
  color:#1ED760;
}

#botao{
  margin-top: 2rem;
  background-color: #1ED760;
  color: #000;
  width: 450px;
  height: 45px;
  border-radius: 5rem;
  border-width: 1px;
  border-color: #6C6C6C;
}

.img{
  width: 200px;
  height: 48px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.password{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.city_state{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login_conta{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

