:root {
  --green: #50fa7b;
  --gray-dark: #141316;
  --gray: #282a36;
  --white: white;
}

* {
  font-family: "Inter", sans-serif;
}

html, body {
  margin:0;
  height: 100%;
  background-color: #121212;
}

main {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  background-color: #6BAA75;
  border-radius: 8px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login div{
  margin-bottom: 20px;
}

.login input {
  margin-top: 10px;
  width: 400px;
  height: 35px;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #D9D9D9;
  background-color: #D9D9D9;
  
} 

.a {
  color:#000000;
}

#botao{
  margin-top: 2rem;
  background-color: #000000;
  color: white;
  height: 45px;
  border-radius: 5rem;
  border-width: 1px;
  border-color: #000000;

}

.img{
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
}

